*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-image: url(../img/fundosite.jpg);
}
.navbar{
    margin: 0 100px;
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}
.siga{
    width: 200px;
    padding-top: 20px;
}
.container{
    margin: 10vh 0vh;
}

.abas{
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

.abas li{
    padding: 10px;
    margin: 5px;
    color: rgb(0, 0, 0);
    background:rgb(255, 255, 255) ;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 1s;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.7;
}

.abas li:hover{
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
    opacity: 1;
    opacity: 1;
}

main{
    display: flex;
    margin: 5vh 15vw;
}

article{
    opacity: 0.7;
    background: red;
    width: 250px;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

article p{
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    transition: all 1s;
}

article p:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

aside{
    background: white;
    width: 400px;
    height: 50vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

aside input{
    border: none;
    border-bottom: 2px solid black;
    padding: 10px 0;
    transition: all 0.5s;
}

aside input:hover{
    border-bottom: 2px solid rgb(255, 3, 3);
}

aside button{
    width: 160px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-image: url(../img/botao.png);
    transition: all 1s;
}
aside button:hover{
    cursor: pointer;
    width: 130px;
}
aside p{
    font-size: 13px;
    color: red;
    transition: all 1s;
}
aside p:hover{
    cursor:pointer;
    color:rgb(58, 2, 16);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: all 1s;
}
footer:hover{
    color: black;
    cursor: pointer;
}
footer p{
    font-size: 12px;
}